grpcio
protobuf
grpcio_tools
googleapis-common-protos
pymongo
requests
ecdsa
pycryptodome>=3.9.7
mongoengine>=0.19.1
graphene_mongo>=0.2.12
graphene>=2.1.8
aiohttp>=3.6.2
-e git+https://github.com/mike7c2/py-ipfs-http-client.git#egg=ipfshttpclient
-e git+https://github.com/xiangxn/eospy.git#egg=libeospy